/* Custom theme extensions */

:root {
    --primary: #2563eb;
    /* blue-600 */
    --secondary: #16a34a;
    /* green-600 */
    --danger: #dc2626;
    /* red-600 */
}

/* Utility tambahan */
.text-primary {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-danger {
    background-color: var(--danger);
}